<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<input id="username">
<input id="password" type="password">
<button id="login-btn">Submit</button>
<button id="fb-login">Login Via Facebook</button>
<button id="logout">Logout</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  $('#login-btn').click(function () {
    var username = $('#username').val(),
      password = $('#password').val();
    $.ajax({
      type: "POST",
      url: '/login',
      data: response.authResponse,
      dataType: 'json'
    });
  });


  window.fbAsyncInit = function () {
    FB.init({
      appId: '851267234957096',
      xfbml: true,
      version: 'v2.3'
    });
  };

  (function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

</script>
<script>
  setTimeout(function () {
    FB.getLoginStatus(function (response) {
      if (response.status === 'connected') {
        console.log('Logged in.');
        $.ajax({
          type: "POST",
          url: '/login-fb',
          data: response.authResponse,
          dataType: 'json'
        });
      }
      else {
        FB.login(function () {}, {scope: 'public_profile, email, user_friends'});
      }
    })
  }, 1000)

</script>
</body>
</html>